<style>
  /* Estilos para la sección "Inicio" */
  .inicio {
    background-color: #f7df1e; /* Amarillo */
  }

  /* Estilos para la sección "¿Qué es Frostborn?" */
  .que-es-frostborn {
    background-color: #3498db; /* Azul */
    color: #fff; /* Texto en blanco */
  }

  /* Estilos para la sección "Novedades" */
  .novedades {
    background-color: #27ae60; /* Verde */
    color: #fff; /* Texto en blanco */
  }

  /* Estilos para la sección "Notas" */
  .notas {
    background-color: #c0392b; /* Rojo */
    color: #fff; /* Texto en blanco */
  }

  /* Estilos para la sección "Comercio" */
  .comercio {
    background-color: #9b59b6; /* Morado */
    color: #fff; /* Texto en blanco */
  }

  /* Estilos para la sección "Unete" */
  .unete {
    background-color: #f39c12; /* Naranja */
    color: #fff; /* Texto en blanco */
  }
</style>
