<style>
  /* Títulos con Ubuntu Negritas */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  /* Otros textos con Roboto */
  body {
    font-family: 'Roboto', sans-serif;
  }
</style>
